image: Visual Studio 2017
configuration: Release
platform:
  - x86
  - x64
cache:
  - C:\tools\vcpkg\installed\
  - C:\projects\nas2d-core\proj\vs2017\packages -> proj\vs2017\packages.config
install:
  - vcpkg integrate install
  - vcpkg install physfs:x86-windows
  - vcpkg install physfs:x64-windows
  - nuget restore proj/vs2017
build:
  project: proj/vs2017/NAS2D.sln
test_script:
  - cd %APPVEYOR_BUILD_FOLDER%\test
  - '%APPVEYOR_BUILD_FOLDER%\%PLATFORM%\%CONFIGURATION%\test.exe'
  - cd %APPVEYOR_BUILD_FOLDER%
