image: Visual Studio 2019
configuration:
  - Release
platform:
  - x86
  - x64
cache:
  - C:\tools\vcpkg\installed\ -> InstallVcpkgDeps.bat
install:
  - vcpkg integrate install
  - call InstallVcpkgDeps.bat
  - set APPVEYOR_SAVE_CACHE_ON_ERROR=true
build:
  project: NAS2D.sln
artifacts:
  - path: "Temporary/*.zip"
    name: BuildArtifacts
test_script:
  - cd %APPVEYOR_BUILD_FOLDER%\test
  - '%APPVEYOR_BUILD_FOLDER%\test\%PLATFORM%\%CONFIGURATION%\test.exe'
