# Linux - Makefile
/.build/
/lib/

# VS Code
.vscode/

# Vcpkg
vcpkg_installed/

# Windows - Visual Studio
Temporary/
Release/
Debug/
x64/
.vs/
*.user

# Doxygen documentation
/doc/

# Vcpkg project integration
/packages/**

# MacOS
.DS_Store
