version: 2.1

commands:
  brew-install:
    description: "Brew install MacOS dependencies (or restore from cache)"
    parameters:
      packages:
        type: string
    steps:
      - restore_cache:
          name: Restoring brew dependencies
          key: deps-v3-NAS2D-{{ arch }}
      - run: HOMEBREW_NO_AUTO_UPDATE=1 brew install << parameters.packages >>
      - save_cache:
          name: Caching brew dependencies
          key: deps-v3-NAS2D-{{ arch }}
          paths:
            - /usr/local/Cellar
      - run: brew link << parameters.packages >>
  build-googletest:
    description: "Install Google Test from source package"
    parameters:
      buildPrefix:
        type: string
        default: ~/googletest/
      installPrefix:
        type: string
        default: /usr/local/
    steps:
      - restore_cache:
          name: Restoring Google Test
          key: v3-gtest-{{ arch }}
      - run:
          name: "Download and build Google Test"
          command: |
            set -x
            if [[ ! -d << parameters.buildPrefix >> ]]; then
              pushd /tmp
              curl --silent --location https://github.com/google/googletest/archive/release-1.10.0.tar.gz | tar xz -
              cd googletest-release-1.10.0/
              cmake -DCMAKE_CXX_FLAGS="-std=c++17"
              make
              mkdir -p << parameters.buildPrefix >>
              cp -r googletest/include << parameters.buildPrefix >>
              cp -r googlemock/include << parameters.buildPrefix >>
              mkdir -p << parameters.buildPrefix >>lib/
              find . -name 'lib*.a' -exec cp {} << parameters.buildPrefix >>lib/ \;
              popd
            fi
      - save_cache:
          name: Caching Google Test
          key: v3-gtest-{{ arch }}
          paths:
            - << parameters.buildPrefix >>
      - run:
          name: "Install Google Test system wide"
          command: cp -r << parameters.buildPrefix >> << parameters.installPrefix >>
  build-and-test:
    steps:
      - run: make --keep-going
      - run: make --keep-going test
      - run: make --keep-going check

jobs:
  build-macos:
    macos:
      xcode: "11.3.0"
    steps:
      - brew-install:
          packages: physfs sdl2 sdl2_image sdl2_mixer sdl2_ttf libpng libjpeg libtiff webp libmodplug libvorbis libogg freetype glew cmake
      - build-googletest
      - checkout
      - build-and-test
  build-linux:
    docker:
      - image: outpostuniverse/nas2d:1.4
    steps:
      - checkout
      - build-and-test
  build-linux-gcc8:
    docker:
      - image: outpostuniverse/nas2d-gcc8:1.0
    steps:
      - checkout
      - build-and-test
  build-linux-clang:
    docker:
      - image: outpostuniverse/nas2d-clang:1.0
    steps:
      - checkout
      - build-and-test
  build-linux-mingw:
    docker:
      - image: outpostuniverse/nas2d-mingw:1.3
    steps:
      - checkout
      - build-and-test

workflows:
  build_and_test:
    jobs:
      - build-macos
      - build-linux
      - build-linux-gcc8
      - build-linux-clang
      - build-linux-mingw
