<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="ikkepop.sdl2_ttf" version="2.0.14" targetFramework="native" />
  <package id="ikkepop.sdl2_ttf.redist" version="2.0.14" targetFramework="native" />
  <package id="physfs.v140" version="2.0.3.1" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.new" version="2.0.8" targetFramework="native" />
  <package id="sdl2.new.redist" version="2.0.8" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="vii.SDL2_image" version="2.0.3" targetFramework="native" />
  <package id="vii.SDL2_image.redist" version="2.0.3" targetFramework="native" />
  <package id="vii.SDL2_mixer" version="2.0.2" targetFramework="native" />
  <package id="vii.SDL2_mixer.redist" version="2.0.2" targetFramework="native" />
</packages>